




.jumbotron {
    background-image: url("../images/pizza.png");
    background-size: cover;
}

body {
    background-color: #848487;
}

.display-4 {

    width: 100%;
    text-align: center;
    background: white;
    opacity: 70%

}
h2{
    margin-left: 1em;
    margin-right: 1em;
}

.input-group {
    text-align: center;
}

.btn-primary {
    background-color: white;
    border-color: white;

}

.tab-content {
    margin: 1em;
    margin-bottom: 2em;
}

.btn-group > .btn{
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.container {
    max-width: 10000px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}








