* {
    box-sizing: border-box;
}

nav {
    background: whitesmoke;
    display: flex;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 25%;
}
.rightside {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 25%;
}

nav a {

    text-decoration: none;
    color: black;
    font-family: Verdana, serif;
    display: inline-block;
    padding: 1em;

}
nav a:hover {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.LOGO:hover {
    font-weight: bold;
    cursor: pointer;


}


/*nav ul li:nth-child(6) {*/
/*    margin-left: auto;*/
/*}*/
body {
    margin: 0;
    font-family: Roboto;
    background: antiquewhite;
    min-height: 100vh;
}

.LOGO {
    align-items: flex-start;
    margin: 0 auto;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-family: Verdana, serif;
    display: inline-block;
    padding: 1px;
    font-family: Wingdings;
    font-size: 50px;


}


.search{
    height: 12px;
    width: 12px;
}

.cart{
    height: 12px;
    width: 12px;
}

.info{
    height: 12px;
    width: 12px;
}










